body{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.board{
    display: flex;
    flex-wrap: wrap;
    border: black 2px solid;
    height: 544px;
    width: 544px;
}

.cell{
   flex: 1 0 calc(100% / 16);
   aspect-ratio: 1;
}

.gridsize{
    margin-bottom: 10px;
    border radius: 75%;
    padding: 10px;
    
}