body{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.board{
    display: flex;
    flex-wrap: wrap;
    border: black 2px solid;
    height: 550px;
    width: 550px;
}

.cell{
   width: 34px;
   height: 34px;
   
}